<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">

		<!-- TWITTER INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>

					<p>
						<strong>id</strong>: <%= user.twitter.id %><br>
						<strong>token</strong>: <%= user.twitter.token %><br>
						<strong>username</strong>: <%= user.twitter.username %><br>
						<strong>displayName</strong>: <%= user.twitter.displayName %>
					</p>
                    <a class="twitter-share-button"
  href="https://twitter.com/share">
Tweet
</a>
<script>
window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
</script>
			</div>
		</div>

	</div>

</div>
</body>
</html>
